@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;700&family=Lexend+Deca&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Inter", sans-serif;
  /* font-family: "Lexend Deca", sans-serif; */
  letter-spacing: 1px;
  /* background-color: hsl(233, 47%, 7%); */
  min-height: 100vh;
  display: grid;
  place-content: center;
}

.stats-component {
  background-color: hsl(244, 38%, 16%);
  width: 80rem;
  border-radius: 10px;
  overflow: hidden;

  display: flex;
  justify-content: center;
  align-items: center;
}

.text {
  padding: 5.4rem;
  display: flex;
  flex-direction: column;
  gap: 3.6rem;
}

.copy {
  /* border: 1px solid #fff; */
}

.title {
  color: hsl(0, 0%, 100%);
  font-size: 2.4rem;
  line-height: 1.2;
  font-weight: 700;
  margin-bottom: 2rem;
}

.description {
  font-size: 1.2rem;
  color: hsla(0, 0%, 100%, 0.75);
  line-height: 1.8;
}

.stats-list {
  display: flex;
  gap: 4.2rem;
  align-items: center;
}

.stats-list li {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  justify-content: center;
  align-items: flex-start;
}

.num {
  color: hsl(0, 0%, 100%);
  font-size: 2rem;
}

.stats-list span {
  color: hsla(0, 0%, 100%, 0.6);
  font-family: "Lexend Deca", sans-serif;
  text-transform: uppercase;
}

.img-box {
  background-image: (
      to right bottom,
      rgba(235, 151, 78, 0.35),
      rgba(230, 125, 34, 0.35)
    ),
    url(images/image-header-desktop.jpg);
  background-size: cover;
}

.attribution {
  font-size: 11px;
  text-align: center;
  color: hsla(0, 0%, 100%, 0.6);
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
